{% from "_render_field.html" import render_field %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css' )}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo1.css' )}}">
    <title>Cliente</title>
  </head>
  <body style="background-color:#e06666;">
    {%block content%}
    <div class="container" style="background-color:white; ">
          <form class="" action="" method="POST" style="margin: 0 auto; width:40% ">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
              <img src="{{ url_for('static', filename='dulce.png' )}}" alt="" class="rounded mx-auto d-block">
            <h2 class="border-bottom mb-4">Actualizar: Cliente Natural</h2>
            {% with messages = get_flashed_messages(with_categories=true)%}
                  {% if messages%}
                    {%for category,message in messages%}
                      <div class="alert alert-{{ category}}">
                        {{message}}
                      </div>
                    {%endfor%}
                  {%endif%}
                {% endwith%}
                <div class="form-group">
                {{ render_field(form.rif) }}
              </div>
              <div class="form-group">
              {{ render_field(form.email) }}
            </div>
            <div class="form-group">
            {{ render_field(form.ci) }}
          </div>
          <div class="form-row">
            <legend class="border-bottom mb-4">Nombres</legend>
          <div class="col">
            {{ render_field(form.nom1)}}
          </div>
          <div class="col">
            {{render_field(form.nom2)}}
          </div>
        </div>
        <div class="form-row">
          <legend class="border-bottom mb-4">Apellidos</legend>
        <div class="col">
          {{render_field(form.ap1)}}
        </div>
            <div class="col">
              {{render_field(form.ap2)}}
            </div>
          </div>
              <div class="form-row">
                <legend class="border-bottom mb-4">Direccion</legend>
              <div class="col">
                {{ render_field(form.estados)}}
              </div>
              <div class="col">
                {{ render_field(form.municipios)}}
              </div>
              <div class="col">
                {{ render_field(form.parroquias)}}
              </div>
            </div>
      </fieldset>
      <div class="form-row">
        <div class="form-col">
        {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </div>
      <div class="form-col">
        <a class = "btn btn-outline-info" href = "{{url_for ('clientes')}}"> Regresar</a>
      </div>
      <div class="form-col">
        <button class="btn btn-danger btn-sm m-1" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
      </div>
    </form>
    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Eliminar Cliente?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form class="" action="{{ url_for('delete_cliente',c_id = c_id,tipo = 'cn')}}" method="POST">
            <input class="btn btn-danger" type="submit" name="" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
    </div>
    {%endblock content%}
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/estilo1.js' )}}"></script>
    <script>
      let estados = document.getElementById('estados');
      let municipios = document.getElementById('municipios');
      let parroquias = document.getElementById('parroquias');
      estados.onchange=function(){
        estado = estados.value;
        fetch('/municipio/'+ estado).then(function(response){
          response.json().then(function(data){
            let optionHTML = '';
            for (let municipio of data.municipios){
                optionHTML+= '<option value"'+ municipio[0]+'">' + municipio[2]+'</option>';
            }
            municipios.innerHTML = optionHTML;
          });
          });
        }
        municipios.onchange=function(){
          municipio = municipios.value;
          estado = estados.value;
          fetch('/parroquia/'+ municipio+ '/'+ estado).then(function(response){
            response.json().then(function(data){
              let optionHTML = '';
              for (let parroquia of data.parroquias){
                  optionHTML+= '<option value"'+ parroquia[0]+'">' + parroquia[2]+'</option>';
              }
              parroquias.innerHTML = optionHTML;
            });
            });
          }
    </script>

  </body>
</html>