{% from "_render_field.html" import render_field %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css' )}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo1.css' )}}">
    <title>Registro</title>
  </head>
  <body style="background-color:#e06666;">
    {%block content%}
    <div class="container" style="background-color:white; ">
          <form class="" action="" method="POST" style="margin: 0 auto; width:40% ">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
              <img src="{{ url_for('static', filename='dulce.png' )}}" alt="" class="rounded mx-auto d-block">
            <h2 class="border-bottom mb-4">Actualizar: Cliente Juridico</h2>
            {% with messages = get_flashed_messages(with_categories=true)%}
                  {% if messages%}
                    {%for category,message in messages%}
                      <div class="alert alert-{{ category}}">
                        {{message}}
                      </div>
                    {%endfor%}
                  {%endif%}
                {% endwith%}
                <div class="form-group">
                {{ render_field(form.rif) }}
              </div>
              <div class="form-group">
              {{ render_field(form.email) }}
            </div>
            <div class="form-group">
            {{ render_field(form.demcom) }}
          </div>
                    <div class="form-group">
                    {{ render_field(form.razsoc) }}
                  </div>
                  <div class="form-group">
                  {{ render_field(form.pagweb) }}
                </div>
                <div class="form-group">
                {{ render_field(form.capdis) }}
              </div>
              <div class="form-row">
                <legend class="border-bottom mb-4">Direccion Fiscal</legend>
              <div class="col">
                {{ render_field(form.estados1)}}
              </div>
              <div class="col">
                {{ render_field(form.municipios1)}}
              </div>
              <div class="col">
                {{ render_field(form.parroquias1)}}
              </div>
            </div>
            <div class="form-row">
              <legend class="border-bottom mb-4">Direccion Fisica</legend>
            <div class="col">
              {{ render_field(form.estados2)}}
            </div>
            <div class="col">
              {{ render_field(form.municipios2)}}
            </div>
            <div class="col">
              {{ render_field(form.parroquias2)}}
            </div>
          </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
    </div>
    {%endblock content%}
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/estilo1.js' )}}"></script>
    <script>
      let estados = document.getElementById('estados1');
      let municipios = document.getElementById('municipios1');
      let parroquias = document.getElementById('parroquias1');

      estados.onchange=function(){
        estado = estados.value;
        fetch('/municipio/'+ estado).then(function(response){
          response.json().then(function(data){
            let optionHTML = '';
            for (let municipio of data.municipios){
                optionHTML+= '<option value"'+ municipio[0]+'">' + municipio[2]+'</option>';
            }

            municipios.innerHTML = optionHTML;
          });


          });
        }

        municipios.onchange=function(){
          municipio = municipios.value;
          estado = estados.value;
          fetch('/parroquia/'+ municipio+ '/'+ estado).then(function(response){
            response.json().then(function(data){
              let optionHTML = '';
              for (let parroquia of data.parroquias){
                  optionHTML+= '<option value"'+ parroquia[0]+'">' + parroquia[2]+'</option>';
              }

              parroquias.innerHTML = optionHTML;
            });


            });
          }
      let estados2 = document.getElementById('estados2');
      let municipios2 = document.getElementById('municipios2');
      let parroquias2 = document.getElementById('parroquias2');

      estados2.onchange=function(){
        estado = estados2.value;
        fetch('/municipio/'+ estado).then(function(response){
          response.json().then(function(data){
            let optionHTML = '';
            for (let municipio of data.municipios){
                optionHTML+= '<option value"'+ municipio[0]+'">' + municipio[2]+'</option>';
            }

            municipios2.innerHTML = optionHTML;
          });


          });
        }

        municipios2.onchange=function(){
          municipio = municipios2.value;
          estado = estados2.value;
          fetch('/parroquia/'+ municipio+ '/'+ estado).then(function(response){
            response.json().then(function(data){
              let optionHTML = '';
              for (let parroquia of data.parroquias){
                  optionHTML+= '<option value"'+ parroquia[0]+'">' + parroquia[2]+'</option>';
              }

              parroquias2.innerHTML = optionHTML;
            });


            });
          }

    </script>

  </body>
</html>
