<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Candy Ucab</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/estilo1.css">
    <link rel="stylesheet" type="text/css" href="../static/regentr.css">
</head>
<body>

<header>
    <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="overlay-content">
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
            <a href="#">Empleados</a>
            <a href="#">Sobre Nosotros</a>
        </div>

    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand open_btn" href="#"><img src="../static/menu.png" class="menu"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active logo" href="#">Candy <span class="cu">Ucab</span></a>
            </div>
        </div>
    </nav>

    <section class="img_fondo">
        <div></div>
    </section>

    <section class="botones_entrada row text-center">
        <a href="#" class="col-6 entrada">Entra</a>
        <a href="#" class="col-6 registro">Regístrate</a>
    </section>

    <!--entrada-->
    <div id="id01" class="modal">

        <form class="modal-content animate">
            <div class="imgcontainer">
                <span class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <label for="uname"><b>Nombre de usuario</b></label>
                <input type="text" placeholder="Ingrese su nombre de usuario" name="uname" required>

                <label for="psw"><b>Contraseña</b></label>
                <input type="password" placeholder="Ingrese su contraseña" name="psw" required>

                <button type="submit">Entrar</button><br>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Recuérdame
                </label>
            </div>

            <div class="container text-center">
                <span class="psw">¿Olvidó su <a href="#">contraseña?</a></span>
            </div>
        </form>
    </div>

    <!--Registro-->
    <div id="id02" class="modalr">

        <form class="modalr-content animate">
            <div class="imgcontainer">
                <span class="close2" title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <label for="uname"><b>Nombre de usuario</b></label>
                <input type="text" placeholder="Ingrese su nombre de usuario" name="uname" required>

                <label for="uname"><b>Correo electrónico</b></label>
                <input type="text" placeholder="Ingrese su nombre de usuario" name="uname" required>

                <label for="psw"><b>Contraseña</b></label>
                <input type="password" placeholder="Ingrese una contraseña" name="psw" required>

                <label for="psw"><b>Repetir contraseña</b></label>
                <input type="password" placeholder="Repita la contraseña" name="psw" required>

                <button type="submit">Enviar</button><br>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Recuérdame
                </label>
            </div>

            <div class="container text-center">
                <span class="psw">Al registrarse acepta nuestros <a href="#">Términos y Condiciones</a></span>
            </div>
        </form>
    </div>

</header>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/estilo1.js"></script>
</body>
</html>
