<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/estilo1.css">
    <title></title>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar sticky-top navbar-light bg-light" style="background-color: #f2f1f1;">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="../static/candyucab.png"></a>
            <div class="navbar-nav">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
              <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
            </div>
        <!-- Navbar Right Side -->
    </div>
  </nav>
</header>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/estilo1.js"></script>
  </body>
</html>
