{% from "_render_field.html" import render_field %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css' )}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo1.css' )}}">
    <title>Inicio de Sesión</title>
  </head>
  <body style="background-color:#e06666;">
    {%block content%}
    <div class="container" style="background-color:white; ">
          <form class="" action="" method="POST" style="margin: 0 auto; width:40% ">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
              <img src="../static/dulce.png" alt="" class="rounded mx-auto d-block">
            <h2 class="border-bottom mb-4">Inicio de Sesion</h2>
            {% with messages = get_flashed_messages(with_categories=true)%}
                  {% if messages%}
                    {%for category,message in messages%}
                      <div class="alert alert-{{ category}}">
                        {{message}}
                      </div>
                    {%endfor%}
                  {%endif%}
                {% endwith%}
            <div class="form-group">
                {{ render_field(form.username)}}
            </div>
            <div class="form-group">
                {{ render_field(form.password)}}
            </div>
            <div class="form-check">
              {{form.remember(class="form-check-input")}}
              {{form.remember.label(class="form-check-label")}}
            </div>
            </fieldset>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
            </div>
          </form>
          <div class="border-top pt-3">
            <small class="text-muted">
              No Tienes Cuenta? <a class="ml-2" href="{{url_for('register')}}">Registrate</a>
            </small>

          </div>

    </div>
{%endblock content%}
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/estilo1.js' )}}"></script>
  </body>
</html>
