{% from "_render_field.html" import render_field %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/estilo1.css">
    <title>Registro</title>
  </head>
  <body style="background-color:#e06666;">
    {%block content%}
    <div class="container" style="background-color:white; ">
          <form class="" action="" method="POST" style="margin: 0 auto; width:40% ">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
              <img src="../static/dulce.png" alt="" class="rounded mx-auto d-block">
            <h2 class="border-bottom mb-4">Registro: Cliente Juridico</h2>
            {% with messages = get_flashed_messages(with_categories=true)%}
                  {% if messages%}
                    {%for category,message in messages%}
                      <div class="alert alert-{{ category}}">
                        {{message}}
                      </div>
                    {%endfor%}
                  {%endif%}
                {% endwith%}
                <div class="form-group">
                {{ form.rif.label(class="form-control-label") }}
                {% if form.rif.errors%}
                  {{form.rif(class="form-control form-control-lg is-invalid")}}
                  <div class="invalid-feddback">
                    {%for error in form.rif.errors%}
                      <span>{{error}}</span>
                    {%endfor%}
                  </div>
                {% else %}
                    {{ form.rif(class="form-control form-control-lg") }}
                {%endif%}
              </div>
              <div class="form-group">
              {{ form.email.label(class="form-control-label") }}
              {% if form.email.errors%}
                {{form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feddback">
                  {%for error in form.email.errors%}
                    <span>{{error}}</span>
                  {%endfor%}
                </div>
              {% else %}
                  {{ form.email(class="form-control form-control-lg") }}
              {%endif%}
            </div>
            <div class="form-group">
            {{ form.demcom.label(class="form-control-label") }}
            {% if form.demcom.errors%}
              {{form.demcom(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feddback">
                {%for error in form.demcom.errors%}
                  <span>{{error}}</span>
                {%endfor%}
              </div>
            {% else %}
                {{ form.demcom(class="form-control form-control-lg") }}
            {%endif%}
          </div>
                    <div class="form-group">
                    {{ form.razsoc.label(class="form-control-label") }}
                    {% if form.razsoc.errors%}
                      {{form.razsoc(class="form-control form-control-lg is-invalid")}}
                      <div class="invalid-feddback">
                        {%for error in form.razsoc.errors%}
                          <span>{{error}}</span>
                        {%endfor%}
                      </div>
                    {% else %}
                        {{ form.razsoc(class="form-control form-control-lg") }}
                    {%endif%}
                  </div>
                  <div class="form-group">
                  {{ form.pagweb.label(class="form-control-label") }}
                  {% if form.pagweb.errors%}
                    {{form.pagweb(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feddback">
                      {%for error in form.pagweb.errors%}
                        <span>{{error}}</span>
                      {%endfor%}
                    </div>
                  {% else %}
                      {{ form.pagweb(class="form-control form-control-lg") }}
                  {%endif%}
                </div>
                <div class="form-group">
                {{ form.capdis.label(class="form-control-label") }}
                {% if form.capdis.errors%}
                  {{form.capdis(class="form-control form-control-lg is-invalid")}}
                  <div class="invalid-feddback">
                    {%for error in form.capdis.errors%}
                      <span>{{error}}</span>
                    {%endfor%}
                  </div>
                {% else %}
                    {{ form.capdis(class="form-control form-control-lg") }}
                {%endif%}
              </div>
              <div class="form-row">
                <legend class="border-bottom mb-4">Direccion Fiscal</legend>
              <div class="col">
                {{ render_field(form.estados1)}}
              </div>
              <div class="col">
                {{ render_field(form.municipios1)}}
              </div>
              <div class="col">
                {{ render_field(form.parroquias1)}}
              </div>
            </div>
            <div class="form-row">
              <legend class="border-bottom mb-4">Direccion Fisica</legend>
            <div class="col">
              {{ render_field(form.estados2)}}
            </div>
            <div class="col">
              {{ render_field(form.municipios2)}}
            </div>
            <div class="col">
              {{ render_field(form.parroquias2)}}
            </div>
          </div>
            <div class="form-group">
              {{ form.username.label(class="form-control-label") }}

            {% if form.username.errors%}
              {{form.username(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feddback">
                {%for error in form.username.errors%}
                  <span>{{error}}</span>
                {%endfor%}
              </div>
            {% else %}
                {{ form.username(class="form-control form-control-lg") }}
            {%endif%}
            </div>
          <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors%}
            {{form.password(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feddback">
              {%for error in form.password.errors%}
                <span>{{error}}</span>
              {%endfor%}
            </div>
          {% else %}
              {{ form.password(class="form-control form-control-lg") }}
          {%endif%}
        </div>
        <div class="form-group">
          {{ form.confim_password.label(class="form-control-label") }}
          {% if form.confim_password.errors%}
            {{form.confim_password(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feddback">
              {%for error in form.confim_password.errors%}
                <span>{{error}}</span>
              {%endfor%}
            </div>
          {% else %}
              {{ form.confim_password(class="form-control form-control-lg") }}
          {%endif%}
        </div>
      </fieldset>
      <div class="form-group">
        <div class="form-group">
    {{ form.submit(class="btn btn-outline-info") }}
    </div>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Tienes cuenta? <a class="ml-2" href="{{url_for('login')}}">Ingresar</a>
      </small>

    </div>
    </div>
    {%endblock content%}
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/estilo1.js"></script>
    <script>
      let estados = document.getElementById('estados1');
      let municipios = document.getElementById('municipios1');
      let parroquias = document.getElementById('parroquias1');

      estados.onchange=function(){
        estado = estados.value;
        fetch('/municipio/'+ estado).then(function(response){
          response.json().then(function(data){
            let optionHTML = '';
            for (let municipio of data.municipios){
                optionHTML+= '<option value"'+ municipio[0]+'">' + municipio[2]+'</option>';
            }

            municipios.innerHTML = optionHTML;
          });


          });
        }

        municipios.onchange=function(){
          municipio = municipios.value;
          estado = estados.value;
          fetch('/parroquia/'+ municipio+ '/'+ estado).then(function(response){
            response.json().then(function(data){
              let optionHTML = '';
              for (let parroquia of data.parroquias){
                  optionHTML+= '<option value"'+ parroquia[0]+'">' + parroquia[2]+'</option>';
              }

              parroquias.innerHTML = optionHTML;
            });


            });
          }
      let estados2 = document.getElementById('estados2');
      let municipios2 = document.getElementById('municipios2');
      let parroquias2 = document.getElementById('parroquias2');

      estados2.onchange=function(){
        estado = estados2.value;
        fetch('/municipio/'+ estado).then(function(response){
          response.json().then(function(data){
            let optionHTML = '';
            for (let municipio of data.municipios){
                optionHTML+= '<option value"'+ municipio[0]+'">' + municipio[2]+'</option>';
            }

            municipios2.innerHTML = optionHTML;
          });


          });
        }

        municipios2.onchange=function(){
          municipio = municipios2.value;
          estado = estados2.value;
          fetch('/parroquia/'+ municipio+ '/'+ estado).then(function(response){
            response.json().then(function(data){
              let optionHTML = '';
              for (let parroquia of data.parroquias){
                  optionHTML+= '<option value"'+ parroquia[0]+'">' + parroquia[2]+'</option>';
              }

              parroquias2.innerHTML = optionHTML;
            });


            });
          }

    </script>
  </body>
</html>
