{% from "_render_field.html" import render_field %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css' )}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo1.css' )}}">
    <title>Registro</title>
  </head>
  <body style="background-color:#e06666;">
    {%block content%}
    <div class="container" style="background-color:white; ">
          <form class="" action="" method="POST" style="margin: 0 auto; width:40% ">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
              <img src="../static/dulce.png" alt="" class="rounded mx-auto d-block">
            <h2 class="border-bottom mb-4">Registro: Cliente Juridico</h2>
            {% with messages = get_flashed_messages(with_categories=true)%}
                  {% if messages%}
                    {%for category,message in messages%}
                      <div class="alert alert-{{ category}}">
                        {{message}}
                      </div>
                    {%endfor%}
                  {%endif%}
                {% endwith%}
                <div class="form-group">
                {{ render_field(form.rif) }}
              </div>
              <div class="form-group">
              {{ render_field(form.email) }}
            </div>
            <div class="form-group">
            {{ render_field(form.demcom) }}
          </div>
                    <div class="form-group">
                    {{ render_field(form.razsoc) }}
                  </div>
                  <div class="form-group">
                  {{ render_field(form.pagweb) }}
                </div>
                <div class="form-group">
                {{ render_field(form.capdis) }}
              </div>
              <div class="form-row">
                <legend class="border-bottom mb-4">Direccion Fiscal</legend>
              <div class="col">
                {{ render_field(form.estados1)}}
              </div>
              <div class="col">
                {{ render_field(form.municipios1)}}
              </div>
              <div class="col">
                {{ render_field(form.parroquias1)}}
              </div>
            </div>
            <div class="form-row">
              <legend class="border-bottom mb-4">Direccion Fisica</legend>
            <div class="col">
              {{ render_field(form.estados2)}}
            </div>
            <div class="col">
              {{ render_field(form.municipios2)}}
            </div>
            <div class="col">
              {{ render_field(form.parroquias2)}}
            </div>
          </div>
            <div class="form-group">
              {{ render_field(form.username) }}
            </div>
          <div class="form-group">
            {{ render_field(form.password) }}

        </div>
        <div class="form-group">
          {{ render_field(form.confim_password) }}

        </div>
      </fieldset>
      <div class="form-group">
        <div class="form-group">
    {{ form.submit(class="btn btn-outline-info") }}
    </div>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Tienes cuenta? <a class="ml-2" href="{{url_for('login')}}">Ingresar</a>
      </small>

    </div>
    </div>
    {%endblock content%}
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='registroJ.js' )}}"></script>

  </body>
</html>